
.project-1-img {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    top: 15%;
    
}
.project-1-img img {
    position: relative;
    width: 80%;
    overflow: hidden;
    margin-top: 6%;
}
.project-container {
    height: 45%;
    display: flex;
    justify-content: center;
    position: relative;
}
.project-info{
    width: 85%;
}
.project-info h2 {
    margin-left: 43%;
    margin-top: 5%;
}
.project-info button {
    margin-left: 5%;
}
.project-info h2, p{
    margin: 3%;
}
@media screen and (max-width:550px) {
    .project-1-img img {
        margin-top: 20%;
        width: 100%;
    }
    .project-info {
        margin-top: 0%;
        padding: 5%;
        width: 100%;
    }
    .project-container {
        display: block;
        margin-top: 3%;
      
    }
 
  
}
/* ----------------------------strategy plane */
.strategy-container{
    height: 40%;
    width: 60%;
    padding: 3%;
    position: absolute;
    right: 0%;
    top: 20%;
    margin-right: 5%;
    display: flex;
   }
   .strategy-container-2{
    height: 40%;
    width: 60%;
    padding: 3%;
    position: absolute;
    right: 0%;
    top: 40%;
    margin-right: 5%;
    display: flex;
   }
   .strategy img {
    width: 35%;
    height: 55%;
    overflow: hidden;
    margin-left: 8%;
   }
   .goals p {
    margin: 5%;
    font-weight: 100;
   }
   .goal h2 {
    margin-left: 45%;
   }
   @media screen and (max-width:550px) {
    .strategy img {
        width: 59%;
        height: 55%;
        overflow: hidden;
        margin-left: 20%;
    }
   }
   
   
.num {
    border-radius: 20px;
    background-image: linear-gradient(45deg, #87652b 0%, #ce9039 0%, #8f8626 21%, #d9bd2f 52%, #b9bc37 78%, #a39f2c 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    padding: 3%;
    border-radius: 50%;
}
@media screen and (max-width:550px) {
    .goal h2 {
        margin-left: 30%;
    }
    .strategy-container {
        width: 90%;
        top: 35%;
    }
    .strategy-container-2 {
        width: 90%;
        top: 63%;
    }
}
/* -------------------------------project info */
.wireframes h2 {
    margin-left: 43%;
    margin-bottom: 5%;

}
.project-journey {
    margin-top: 5%;
    width: 90%;
    font-size: 4rem;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}
@media screen and (max-width:550px) {
    .wireframes h2 {
        margin-left: 23%;
        margin-bottom: 1%;
    }
    .project-journey {
        margin: 3%;
        width: 94%;

    }
}

.construction {
    width: 80%;
    height: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
}
.construction img {
    width: 80%;
    height: 80%;
    overflow: hidden;
}